.post {
  h2 {
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: bold;
    margin-top: 3.125rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: var(--gray-100);
  }

  div {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    time,
    p {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: var(--gray-200);
      margin-right: 1.5rem;
    }

    &:last-child {
      margin-bottom: 3.75rem;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }
  }
}
