.container {
  img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin-top: 1.25rem;
    margin-bottom: 5rem;
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.625rem;
  }

  .headContent {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    time,
    p {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: var(--gray-200);
      margin-right: 1.5rem;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }

  .lastPublicationDate {
    font-size: 0.875rem;
    color: var(--gray-200);
    font-style: italic;
  }

  .textContent {
    margin-top: 3.75rem;

    h2 {
      font-size: 2.25rem;
      margin-bottom: 3rem;
    }

    div {
      p {
        color: var(--gray-200);
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-align: justify;
        margin-bottom: 2rem;
      }
    }
  }

  section {
    margin-top: 3.75rem;
    border-top: 1px solid #474747;
    display: flex;
    justify-content: space-between;

    .rightLink {
      text-align: end;
    }

    div {
      margin-top: 3rem;
      margin-bottom: 5rem;

      h3 {
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: var(--gray-50);
        margin-bottom: 0.5rem;
      }

      a {
        color: var(--pink);
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
  }
}
